@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

////////// Variables //////////

// Colors

$primary-color: black;
$secondary-color: white;
$tertiary-color: rgb(255, 208, 0);

// Fonts

$primary-font: "Source Sans Pro", sans-serif;

$regular: 400;
$semibold: 700;
$bold: 900;

$secondary-font: "Archivo Black", sans-serif;

////////// Mixins //////////

// Color scheme

@mixin blackBg() {
  background-color: $primary-color;
  color: $secondary-color;
}

@mixin yellowBg() {
  background-color: $tertiary-color;
  color: $primary-color;
}

// Align

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}
