<div class="body">
  <div class="left-box">
    <img class="logo" src="../../../assets/logo.png" />
    <h1 class="title">uhhh... which one?</h1>
    <div class="search-box">
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit(searchTerm, $event); form.reset()"
      >
        <input
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          placeholder="search for a beer"
        />
        <button>or try your luck!</button>
      </form>
    </div>
    <div *ngFor="let beer of beers" class="list-box">
      <a href="#" (click)="onSelect($event)">{{ beer.name }}</a>
    </div>
  </div>
  <div class="right-box">
    <app-beer-details [beerInfo]="selectedBeer"></app-beer-details>
  </div>
</div>
