@import "../../scss/base";
@import "../../scss/mediaQueries";

.body {
  @include flexCenter(column);
  font-family: $primary-font;
  font-weight: $regular;
  text-align: center;
  width: 100%;
  height: 100vh;

  .image-box {
    @include flexCenter("");
    width: 250px;
    height: 250px;
    margin: 20px 0px;
    background-color: $secondary-color;
    border-radius: 50%;
    .image {
      height: 110%;
    }
  }
  .bio {
    @include flexCenter(column);
    max-width: 95%;
    margin: 15px 0px;
    .name {
      font-family: $secondary-font;
      letter-spacing: -0.1rem;
      font-size: 2.3rem;
    }
    .tagline {
      font-weight: $bold;
    }
  }
  .description {
    width: 70%;
    margin: 15px 0px;
    text-align: center;
  }
  .stats {
    margin: 15px 0px;
    @include flexCenter(column);
  }

  ///////////////// Media query /////////////////

  @include responsive(mobileAndTablet) {
    @include flexCenter(column);
    height: 100%;

    .image-box {
      @include flexCenter("");
      width: 150px;
      height: 150px;
      margin: 10px 0px;
    }
    .bio {
      max-width: 80%;
      margin: 10px 0px;
      .name {
        letter-spacing: 0rem;
        font-size: 1.3rem;
      }
    }
    .description {
      font-size: 0.9rem;
      width: 90%;
      margin: 10px 0px;
    }
    .stats {
      font-size: 0.9rem;
      margin: 10px 0px;
      @include flexCenter(column);
    }
  }
}
