<div>
  <div *ngIf="!beerInfo"></div>
  <div *ngIf="beerInfo" class="body">
    <div class="image-box">
      <img src="{{ beerInfo[0].image_url }}" alt="" class="image" />
    </div>

    <div class="bio">
      <h2 class="name">{{ beerInfo[0].name }}</h2>
      <h3 class="tagline">{{ beerInfo[0].tagline }}</h3>
    </div>
    <p class="description">{{ beerInfo[0].description }}</p>
    <div class="stats">
      <p><b>Abv:</b> {{ beerInfo[0].abv }}%</p>
      <p><b>Yeast:</b> {{ beerInfo[0].ingredients.yeast }}</p>
    </div>
  </div>
</div>
